<html>
  <head>
    <title>Créer un potin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>

    <!-- As a heading -->
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand mb-0 h1" href="/">GOSSIPS!</a>
    </nav>
    <br>
    <div class="container">

      <h2>Crée un potin !</h2>
      <p>Balance ton potin via le formulaire ci-dessous</p><br>

      <form action='/gossip/new/' method='POST'>
        <div class="form-group">
          <label for="exampleAuteur">Auteur</label>
          <input type="text" class="form-control" name="gossip_author" aria-describedby="emailHelp" placeholder="ton blaz">
        </div>
        <div class="form-group">
          <label for="exampleContenu">Contenu</label>
          <input type="text" class="form-control" name="gossip_content" placeholder="balance les dossiers">
        </div>
        <button type="submit" class="btn btn-secondary">Submit</button>

    </div>

  </body>
</html>
