<html>
  <head>
    <title>The Gossip Project</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>

    <!-- As a heading -->
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand mb-0 h1" href="/">GOSSIPS!</a>
    </nav>
    <br>

    <div class="container">
      <h3>potin n°<%= id %></h3>
      <div class="card mb-3">
        <img src="https://cache.cosmopolitan.fr/data/photo/w650_c17/47/photo-retro-humour-large.jpg" class="card-img-top"  alt="profile picture">
        <div class="card-body">
          <h5 class="card-title"><%= author %></h5>
          <p class="card-text"><%= content %></p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      

      <div class="">
        <a href="/gossips/<%= id %>/edit/"><button type="button" class="btn btn-secondary">Modifier</button></a>
        <a href="/"><button type="button" class="btn btn-secondary">Revenir à la page des potins</button></a>
      </div>

    </div>


  </body>
</html>
